interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.giphy.com/v1/gifs/trending?bundle=low_bandwidth&limit=10&offset=100&random_id=12345&rating=g
  response:
    content: "{\"data\":[{\"type\":\"gif\",\"id\":\"PjrXX2MjjqssNYFtSC\",\"url\":\"https://giphy.com/gifs/christmas-thanksgiving-evacremers-PjrXX2MjjqssNYFtSC\",\"slug\":\"christmas-thanksgiving-evacremers-PjrXX2MjjqssNYFtSC\",\"bitly_gif_url\":\"https://gph.is/g/aXY6MoD\",\"bitly_url\":\"https://gph.is/g/aXY6MoD\",\"embed_url\":\"https://giphy.com/embed/PjrXX2MjjqssNYFtSC\",\"username\":\"evacremers\",\"source\":\"www.instagram.com/evacremers\",\"title\":\"Happy
      Christmas GIF by Eva Cremers\",\"rating\":\"g\",\"content_url\":\"\",\"source_tld\":\"\",\"source_post_url\":\"www.instagram.com/evacremers\",\"is_sticker\":0,\"import_datetime\":\"2019-11-26
      13:18:29\",\"trending_datetime\":\"2021-11-22 17:45:08\",\"images\":{\"original\":{\"height\":\"480\",\"width\":\"384\",\"size\":\"1037481\",\"url\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/giphy.gif?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=giphy.gif&ct=g\",\"mp4_size\":\"286693\",\"mp4\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/giphy.mp4?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=giphy.mp4&ct=g\",\"webp_size\":\"209950\",\"webp\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/giphy.webp?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=giphy.webp&ct=g\",\"frames\":\"35\",\"hash\":\"51fe366860ea66dd1fef2ad92ea20ae6\"},\"downsized\":{\"height\":\"480\",\"width\":\"384\",\"size\":\"1037481\",\"url\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/giphy.gif?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=giphy.gif&ct=g\"},\"downsized_large\":{\"height\":\"480\",\"width\":\"384\",\"size\":\"1037481\",\"url\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/giphy.gif?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=giphy.gif&ct=g\"},\"downsized_medium\":{\"height\":\"480\",\"width\":\"384\",\"size\":\"1037481\",\"url\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/giphy.gif?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=giphy.gif&ct=g\"},\"downsized_small\":{\"height\":\"480\",\"width\":\"384\",\"mp4_size\":\"187733\",\"mp4\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/giphy-downsized-small.mp4?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=giphy-downsized-small.mp4&ct=g\"},\"fixed_height_downsampled\":{\"height\":\"200\",\"width\":\"160\",\"size\":\"42114\",\"url\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/200_d.gif?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=200_d.gif&ct=g\",\"webp_size\":\"20744\",\"webp\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/200_d.webp?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=200_d.webp&ct=g\"},\"fixed_height_small\":{\"height\":\"100\",\"width\":\"80\",\"size\":\"79846\",\"url\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/100.gif?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=100.gif&ct=g\",\"mp4_size\":\"15611\",\"mp4\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/100.mp4?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=100.mp4&ct=g\",\"webp_size\":\"23198\",\"webp\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/100.webp?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=100.webp&ct=g\"},\"fixed_width_downsampled\":{\"height\":\"250\",\"width\":\"200\",\"size\":\"51576\",\"url\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/200w_d.gif?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=200w_d.gif&ct=g\",\"webp_size\":\"27278\",\"webp\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/200w_d.webp?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=200w_d.webp&ct=g\"},\"fixed_width_small\":{\"height\":\"125\",\"width\":\"100\",\"size\":\"106680\",\"url\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/100w.gif?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=100w.gif&ct=g\",\"mp4_size\":\"20011\",\"mp4\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/100w.mp4?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=100w.mp4&ct=g\",\"webp_size\":\"29654\",\"webp\":\"https://media0.giphy.com/media/PjrXX2MjjqssNYFtSC/100w.webp?cid=9fbc9b3fzkajueprvxsvmfua9e7nd3fasxlfbz119mbj6xv2&rid=100w.webp&ct=g\"}},\"user\":{\"avatar_url\":\"https://media1.giphy.com/avatars/evacremers/PbpJZ1R9fSBU.jpg\",\"banner_image\":\"\",\"banner_url\":\"\",\"profile_url\":\"https://giphy.com/evacremers/\",\"username\":\"evacremers\",\"display_name\":\"Eva
      Cremers\",\"description\":\"Dutch graphic designer & 3D illustrator\",\"instagram_url\":\"https://instagram.com/evacremers\",\"website_url\":\"http://www.evacremers.com\",\"is_verified\":true},\"analytics_response_payload\":\"e=Z2lmX2lkPVBqclhYMk1qanFzc05ZRnRTQyZldmVudF90eXBlPUdJRl9UUkVORElORyZjaWQ9OWZiYzliM2Z6a2FqdWVwcnZ4c3ZtZnVhOWU3bmQzZmFzeGxmYnoxMTltYmo2eHYyJmN0PWc\",\"analytics\":{\"onload\":{\"url\":\"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPVBqclhYMk1qanFzc05ZRnRTQyZldmVudF90eXBlPUdJRl9UUkVORElORyZjaWQ9OWZiYzliM2Z6a2FqdWVwcnZ4c3ZtZnVhOWU3bmQzZmFzeGxmYnoxMTltYmo2eHYyJmN0PWc&action_type=SEEN\"},\"onclick\":{\"url\":\"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPVBqclhYMk1qanFzc05ZRnRTQyZldmVudF90eXBlPUdJRl9UUkVORElORyZjaWQ9OWZiYzliM2Z6a2FqdWVwcnZ4c3ZtZnVhOWU3bmQzZmFzeGxmYnoxMTltYmo2eHYyJmN0PWc&action_type=CLICK\"},\"onsent\":{\"url\":\"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPVBqclhYMk1qanFzc05ZRnRTQyZldmVudF90eXBlPUdJRl9UUkVORElORyZjaWQ9OWZiYzliM2Z6a2FqdWVwcnZ4c3ZtZnVhOWU3bmQzZmFzeGxmYnoxMTltYmo2eHYyJmN0PWc&action_type=SENT\"}}},{\"type\":\"gif\",\"id\":\"3ndAvMC5LFPNMCzq7m\",\"url\":\"https://giphy.com/gifs/cute-aww-eyebleach-3ndAvMC5LFPNMCzq7m\",\"slug\":\"cute-aww-eyebleach-3ndAvMC5LFPNMCzq7m\",\"bitly_gif_url\":\"https://gph.is/2Ad9kKc\",\"bitly_url\":\"https:[...]
