interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.giphy.com/v1/gifs/search?bundle=low_bandwidth&lang=en&limit=10&offset=100&q=spongebob&random_id=12345&rating=g
  response:
    content: '{"data":[{"type":"gif","id":"T6lMbGnGKLTC8","url":"https://giphy.com/gifs/spongebob-squarepants-plankton-T6lMbGnGKLTC8","slug":"spongebob-squarepants-plankton-T6lMbGnGKLTC8","bitly_gif_url":"http://gph.is/1cI3H6y","bitly_url":"http://gph.is/1cI3H6y","embed_url":"https://giphy.com/embed/T6lMbGnGKLTC8","username":"","source":"http://spongegifs.tumblr.com/post/688567940/episode-krabby-road","title":"spongebob
      squarepants GIF","rating":"g","content_url":"","source_tld":"spongegifs.tumblr.com","source_post_url":"http://spongegifs.tumblr.com/post/688567940/episode-krabby-road","is_sticker":0,"import_datetime":"2013-10-16
      18:53:47","trending_datetime":"1970-01-01 00:00:00","images":{"original":{"height":"269","width":"346","size":"228510","url":"https://media0.giphy.com/media/T6lMbGnGKLTC8/giphy.gif?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=giphy.gif&ct=g","mp4_size":"110859","mp4":"https://media0.giphy.com/media/T6lMbGnGKLTC8/giphy.mp4?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=giphy.mp4&ct=g","webp_size":"83262","webp":"https://media0.giphy.com/media/T6lMbGnGKLTC8/giphy.webp?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=giphy.webp&ct=g","frames":"6","hash":"a399429306f8adc19357ddb8fd7eca89"},"downsized":{"height":"269","width":"346","size":"228510","url":"https://media0.giphy.com/media/T6lMbGnGKLTC8/giphy.gif?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=giphy.gif&ct=g"},"downsized_large":{"height":"269","width":"346","size":"228510","url":"https://media0.giphy.com/media/T6lMbGnGKLTC8/giphy.gif?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=giphy.gif&ct=g"},"downsized_medium":{"height":"269","width":"346","size":"228510","url":"https://media0.giphy.com/media/T6lMbGnGKLTC8/giphy.gif?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=giphy.gif&ct=g"},"downsized_small":{"height":"268","width":"346","mp4_size":"70020","mp4":"https://media0.giphy.com/media/T6lMbGnGKLTC8/giphy-downsized-small.mp4?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=giphy-downsized-small.mp4&ct=g"},"fixed_height_downsampled":{"height":"200","width":"257","size":"108448","url":"https://media0.giphy.com/media/T6lMbGnGKLTC8/200_d.gif?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=200_d.gif&ct=g","webp_size":"46964","webp":"https://media0.giphy.com/media/T6lMbGnGKLTC8/200_d.webp?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=200_d.webp&ct=g"},"fixed_height_small":{"height":"100","width":"129","size":"35627","url":"https://media0.giphy.com/media/T6lMbGnGKLTC8/100.gif?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=100.gif&ct=g","mp4_size":"8013","mp4":"https://media0.giphy.com/media/T6lMbGnGKLTC8/100.mp4?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=100.mp4&ct=g","webp_size":"13776","webp":"https://media0.giphy.com/media/T6lMbGnGKLTC8/100.webp?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=100.webp&ct=g"},"fixed_width_downsampled":{"height":"155","width":"200","size":"74971","url":"https://media0.giphy.com/media/T6lMbGnGKLTC8/200w_d.gif?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=200w_d.gif&ct=g","webp_size":"30898","webp":"https://media0.giphy.com/media/T6lMbGnGKLTC8/200w_d.webp?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=200w_d.webp&ct=g"},"fixed_width_small":{"height":"78","width":"100","size":"24133","url":"https://media0.giphy.com/media/T6lMbGnGKLTC8/100w.gif?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=100w.gif&ct=g","mp4_size":"5635","mp4":"https://media0.giphy.com/media/T6lMbGnGKLTC8/100w.mp4?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=100w.mp4&ct=g","webp_size":"9472","webp":"https://media0.giphy.com/media/T6lMbGnGKLTC8/100w.webp?cid=9fbc9b3f2rdqqhbqykefoffbc95zo5tml2k10fabinojtz4f&rid=100w.webp&ct=g"}},"analytics_response_payload":"e=Z2lmX2lkPVQ2bE1iR25HS0xUQzgmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD05ZmJjOWIzZjJyZHFxaGJxeWtlZm9mZmJjOTV6bzV0bWwyazEwZmFiaW5vanR6NGYmY3Q9Zw","analytics":{"onload":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPVQ2bE1iR25HS0xUQzgmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD05ZmJjOWIzZjJyZHFxaGJxeWtlZm9mZmJjOTV6bzV0bWwyazEwZmFiaW5vanR6NGYmY3Q9Zw&action_type=SEEN"},"onclick":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPVQ2bE1iR25HS0xUQzgmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD05ZmJjOWIzZjJyZHFxaGJxeWtlZm9mZmJjOTV6bzV0bWwyazEwZmFiaW5vanR6NGYmY3Q9Zw&action_type=CLICK"},"onsent":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPVQ2bE1iR25HS0xUQzgmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD05ZmJjOWIzZjJyZHFxaGJxeWtlZm9mZmJjOTV6bzV0bWwyazEwZmFiaW5vanR6NGYmY3Q9Zw&action_type=SENT"}}},{"type":"gif","id":"G3dFISzqWT8is","url":"https://giphy.com/gifs/G3dFISzqWT8is","slug":"G3dFISzqWT8is","bitly_gif_url":"http://gph.is/1C6Wk0q","bitly_url":"http://gph.is/1C6Wk0q","embed_url":"https://giphy.com/embed/G3dFISzqWT8is","username":"","source[...]
