interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.giphy.com/v1/stickers/random?random_id=12345&rating=g&tag=basketball
  response:
    content: '{"data":{"type":"sticker","id":"MasCc8hzesDCFLfzI8","url":"https:\/\/giphy.com\/stickers\/usebasket-basketball-empoli-use-basket-MasCc8hzesDCFLfzI8","slug":"usebasket-basketball-empoli-use-basket-MasCc8hzesDCFLfzI8","bitly_gif_url":"https:\/\/gph.is\/st\/YaV0Zdm","bitly_url":"https:\/\/gph.is\/st\/YaV0Zdm","embed_url":"https:\/\/giphy.com\/embed\/MasCc8hzesDCFLfzI8","username":"usebasket","source":"","title":"Basketball
      Gaye Sticker by Use Basket","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":1,"import_datetime":"2019-11-01
      17:46:54","trending_datetime":"0000-00-00 00:00:00","images":{"hd":{"height":"1080","mp4":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy-hd.mp4?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy-hd.mp4&ct=s","mp4_size":"4656119","width":"1080"},"fixed_width_still":{"height":"200","size":"9895","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/200w_s.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=200w_s.gif&ct=s","width":"200"},"fixed_height_downsampled":{"height":"200","size":"56120","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/200_d.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=200_d.gif&ct=s","webp":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/200_d.webp?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=200_d.webp&ct=s","webp_size":"39266","width":"200"},"preview_gif":{"height":"126","size":"48942","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy-preview.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy-preview.gif&ct=s","width":"126"},"preview":{"height":"260","mp4":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy-preview.mp4?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy-preview.mp4&ct=s","mp4_size":"34249","width":"260"},"fixed_height_small":{"height":"100","mp4":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/100.mp4?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=100.mp4&ct=s","mp4_size":"39270","size":"231675","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/100.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=100.gif&ct=s","webp":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/100.webp?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=100.webp&ct=s","webp_size":"133586","width":"100"},"downsized":{"height":"480","size":"1932667","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy-downsized.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy-downsized.gif&ct=s","width":"480"},"fixed_width_downsampled":{"height":"200","size":"56120","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/200w_d.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=200w_d.gif&ct=s","webp":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/200w_d.webp?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=200w_d.webp&ct=s","webp_size":"39266","width":"200"},"fixed_width":{"height":"200","mp4":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/200w.mp4?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=200w.mp4&ct=s","mp4_size":"115674","size":"628132","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/200w.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=200w.gif&ct=s","webp":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/200w.webp?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=200w.webp&ct=s","webp_size":"316628","width":"200"},"downsized_still":{"height":"480","size":"32037","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy-downsized_s.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy-downsized_s.gif&ct=s","width":"480"},"downsized_medium":{"height":"480","size":"3028711","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy.gif&ct=s","width":"480"},"original_mp4":{"height":"480","mp4":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy.mp4?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy.mp4&ct=s","mp4_size":"466366","width":"480"},"downsized_large":{"height":"480","size":"3028711","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy.gif&ct=s","width":"480"},"preview_webp":{"height":"120","size":"49498","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy-preview.webp?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy-preview.webp&ct=s","width":"120"},"original":{"frames":"62","hash":"e61d905ef40d3eeb846eb9aae5795e99","height":"480","mp4":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy.mp4?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy.mp4&ct=s","mp4_size":"466366","size":"3028711","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy.gif&ct=s","webp":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy.webp?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy.webp&ct=s","webp_size":"720028","width":"480"},"original_still":{"height":"480","size":"60206","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy_s.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy_s.gif&ct=s","width":"480"},"fixed_height_small_still":{"height":"100","size":"3896","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/100_s.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=100_s.gif&ct=s","width":"100"},"fixed_width_small":{"height":"100","mp4":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/100w.mp4?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=100w.mp4&ct=s","mp4_size":"39270","size":"231675","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/100w.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=100w.gif&ct=s","webp":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/100w.webp?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=100w.webp&ct=s","webp_size":"133586","width":"100"},"looping":{"mp4":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy-loop.mp4?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy-loop.mp4&ct=s","mp4_size":"3481425"},"downsized_small":{"height":"280","mp4":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/giphy-downsized-small.mp4?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=giphy-downsized-small.mp4&ct=s","mp4_size":"99936","width":"280"},"fixed_width_small_still":{"height":"100","size":"3896","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/100w_s.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=100w_s.gif&ct=s","width":"100"},"fixed_height_still":{"height":"200","size":"9895","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/200_s.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=200_s.gif&ct=s","width":"200"},"fixed_height":{"height":"200","mp4":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/200.mp4?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=200.mp4&ct=s","mp4_size":"115674","size":"628132","url":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/200.gif?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=200.gif&ct=s","webp":"https:\/\/media0.giphy.com\/media\/MasCc8hzesDCFLfzI8\/200.webp?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=200.webp&ct=s","webp_size":"316628","width":"200"},"480w_still":{"url":"https:\/\/media4.giphy.com\/media\/MasCc8hzesDCFLfzI8\/480w_s.jpg?cid=9fbc9b3fccf1012b661c146531f0cf6b65ecbaf114b18529&rid=480w_s.jpg&ct=s","width":"480","height":"480"}},"user":{"avatar_url":"https:\/\/media3.giphy.com\/avatars\/usebasket\/o7nNInRYcc25.jpg","banner_image":"","banner_url":"","profile_url":"https:\/\/giphy.com\/usebasket\/","username":"usebasket","display_name":"Use
      Basket","description":"","is_verified":false,"website_url":"http:\/\/www.usebasket.it","instagram_url":"https:\/\/instagram.com\/usebasket"}},"meta":{"msg":"OK","status":200,"response_id":"ccf1012b661c146531f0cf6b65ecbaf114b18529"}}'
    headers:
      Content-Type:
      - application/json
      X-Cachiness-Edge-Actual-TTL:
      - '120.000'
      X-Cachiness-Edge-Rule:
      - giphy_api_vcl_fetch_stale_if_error_val_set
      X-Cachiness-Shield-Actual-TTL:
      - '120.000'
      X-Cachiness-Shield-Rule:
      - giphy_api_vcl_fetch_stale_if_error_val_set
      X-Rule-Debug:
      - '1'
    status_code: 200
version: 1
