interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.giphy.com/v1/stickers/random?random_id=12345&rating=g&tag=basketball
  response:
    content: '{"data":{"type":"sticker","id":"QqsyBPMudc4NPFX3UP","url":"https:\/\/giphy.com\/stickers\/usebasket-weareuse-empoli-use2020-QqsyBPMudc4NPFX3UP","slug":"usebasket-weareuse-empoli-use2020-QqsyBPMudc4NPFX3UP","bitly_gif_url":"https:\/\/gph.is\/st\/m8xB99m","bitly_url":"https:\/\/gph.is\/st\/m8xB99m","embed_url":"https:\/\/giphy.com\/embed\/QqsyBPMudc4NPFX3UP","username":"usebasket","source":"","title":"Basketball
      Lnp Sticker by Use Basket","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":1,"import_datetime":"2020-10-20
      21:02:09","trending_datetime":"0000-00-00 00:00:00","images":{"hd":{"height":"1080","mp4":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy-hd.mp4?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy-hd.mp4&ct=s","mp4_size":"1350196","width":"1080"},"fixed_width_still":{"height":"200","size":"10217","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/200w_s.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=200w_s.gif&ct=s","width":"200"},"fixed_height_downsampled":{"height":"200","size":"40075","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/200_d.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=200_d.gif&ct=s","webp":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/200_d.webp?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=200_d.webp&ct=s","webp_size":"30076","width":"200"},"preview_gif":{"height":"143","size":"48152","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy-preview.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy-preview.gif&ct=s","width":"143"},"preview":{"height":"198","mp4":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy-preview.mp4?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy-preview.mp4&ct=s","mp4_size":"35544","width":"198"},"fixed_height_small":{"height":"100","mp4":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/100.mp4?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=100.mp4&ct=s","mp4_size":"27599","size":"124353","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/100.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=100.gif&ct=s","webp":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/100.webp?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=100.webp&ct=s","webp_size":"69798","width":"100"},"downsized":{"height":"480","size":"1497771","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy.gif&ct=s","width":"480"},"fixed_width_downsampled":{"height":"200","size":"40075","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/200w_d.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=200w_d.gif&ct=s","webp":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/200w_d.webp?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=200w_d.webp&ct=s","webp_size":"30076","width":"200"},"fixed_width":{"height":"200","mp4":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/200w.mp4?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=200w.mp4&ct=s","mp4_size":"76421","size":"303941","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/200w.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=200w.gif&ct=s","webp":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/200w.webp?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=200w.webp&ct=s","webp_size":"163204","width":"200"},"downsized_still":{"height":"480","size":"1497771","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy_s.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy_s.gif&ct=s","width":"480"},"downsized_medium":{"height":"480","size":"1497771","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy.gif&ct=s","width":"480"},"original_mp4":{"height":"480","mp4":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy.mp4?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy.mp4&ct=s","mp4_size":"272769","width":"480"},"downsized_large":{"height":"480","size":"1497771","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy.gif&ct=s","width":"480"},"preview_webp":{"height":"152","size":"49386","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy-preview.webp?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy-preview.webp&ct=s","width":"152"},"original":{"frames":"43","hash":"b43297e7a2d21681ef939f9e752570cf","height":"480","mp4":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy.mp4?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy.mp4&ct=s","mp4_size":"272769","size":"1497771","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy.gif&ct=s","webp":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy.webp?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy.webp&ct=s","webp_size":"356110","width":"480"},"original_still":{"height":"480","size":"56589","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy_s.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy_s.gif&ct=s","width":"480"},"fixed_height_small_still":{"height":"100","size":"3558","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/100_s.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=100_s.gif&ct=s","width":"100"},"fixed_width_small":{"height":"100","mp4":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/100w.mp4?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=100w.mp4&ct=s","mp4_size":"27599","size":"124353","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/100w.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=100w.gif&ct=s","webp":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/100w.webp?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=100w.webp&ct=s","webp_size":"69798","width":"100"},"looping":{"mp4":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy-loop.mp4?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy-loop.mp4&ct=s","mp4_size":"2559403"},"downsized_small":{"height":"396","mp4":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/giphy-downsized-small.mp4?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=giphy-downsized-small.mp4&ct=s","mp4_size":"112803","width":"396"},"fixed_width_small_still":{"height":"100","size":"3558","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/100w_s.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=100w_s.gif&ct=s","width":"100"},"fixed_height_still":{"height":"200","size":"10217","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/200_s.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=200_s.gif&ct=s","width":"200"},"fixed_height":{"height":"200","mp4":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/200.mp4?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=200.mp4&ct=s","mp4_size":"76421","size":"303941","url":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/200.gif?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=200.gif&ct=s","webp":"https:\/\/media0.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/200.webp?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=200.webp&ct=s","webp_size":"163204","width":"200"},"480w_still":{"url":"https:\/\/media4.giphy.com\/media\/QqsyBPMudc4NPFX3UP\/480w_s.jpg?cid=9fbc9b3f44494f3d5213f5f69fb47a088ff6ba3c2bfb1008&rid=480w_s.jpg&ct=s","width":"480","height":"480"}},"user":{"avatar_url":"https:\/\/media4.giphy.com\/avatars\/usebasket\/o7nNInRYcc25.jpg","banner_image":"","banner_url":"","profile_url":"https:\/\/giphy.com\/usebasket\/","username":"usebasket","display_name":"Use
      Basket","description":"","is_verified":false,"website_url":"http:\/\/www.usebasket.it","instagram_url":"https:\/\/instagram.com\/usebasket"}},"meta":{"msg":"OK","status":200,"response_id":"44494f3d5213f5f69fb47a088ff6ba3c2bfb1008"}}'
    headers:
      Content-Type:
      - application/json
      X-Cachiness-Edge-Actual-TTL:
      - '120.000'
      X-Cachiness-Edge-Rule:
      - giphy_api_vcl_fetch_stale_if_error_val_set
      X-Cachiness-Shield-Actual-TTL:
      - '120.000'
      X-Cachiness-Shield-Rule:
      - giphy_api_vcl_fetch_stale_if_error_val_set
      X-Rule-Debug:
      - '1'
    status_code: 200
version: 1
