interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.giphy.com/v1/randomid
  response:
    content: '{"data":{"random_id":"9fbc9b3f627c215f6444685063ac7a5b"},"meta":{"msg":"OK","status":200,"response_id":"8eac4ce9f855222bafa335fe3150e56809c508cd"}}'
    headers:
      Content-Type:
      - application/json
      X-Cachiness-Edge-Actual-TTL:
      - '0.000'
      X-Cachiness-Edge-Cache-Control:
      - max-age=0
      X-Cachiness-Edge-Rule:
      - upstream_cache_control
      X-Cachiness-Shield-Actual-TTL:
      - '120.000'
      X-Cachiness-Shield-Cache-Control:
      - max-age=0
      X-Cachiness-Shield-Rule:
      - giphy_misc
      X-Rule-Debug:
      - '1'
    status_code: 200
version: 1
