interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.giphy.com/v1/stickers/search?bundle=low_bandwidth&lang=en&limit=10&offset=100&q=spongebob&random_id=12345&rating=g
  response:
    content: "{\"data\":[{\"type\":\"sticker\",\"id\":\"emGOoSC4ACUo3WoMZu\",\"url\":\"https://giphy.com/stickers/spongebob-animation-tv-nickelodeon-emGOoSC4ACUo3WoMZu\",\"slug\":\"spongebob-animation-tv-nickelodeon-emGOoSC4ACUo3WoMZu\",\"bitly_gif_url\":\"https://gph.is/st/MPbLzVm\",\"bitly_url\":\"https://gph.is/st/MPbLzVm\",\"embed_url\":\"https://giphy.com/embed/emGOoSC4ACUo3WoMZu\",\"username\":\"spongebob\",\"source\":\"http:www.nick.com\",\"title\":\"Well
      Done Thumbs Up Sticker by SpongeBob SquarePants\",\"rating\":\"g\",\"content_url\":\"\",\"source_tld\":\"\",\"source_post_url\":\"http:www.nick.com\",\"is_sticker\":1,\"import_datetime\":\"2019-09-10
      23:56:32\",\"trending_datetime\":\"2021-04-01 07:30:12\",\"images\":{\"original\":{\"height\":\"480\",\"width\":\"480\",\"size\":\"331164\",\"url\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/giphy.gif?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=giphy.gif&ct=s\",\"mp4_size\":\"196132\",\"mp4\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/giphy.mp4?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=giphy.mp4&ct=s\",\"webp_size\":\"284414\",\"webp\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/giphy.webp?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=giphy.webp&ct=s\",\"frames\":\"12\",\"hash\":\"b7ba35ea75fe7892ae3aeb055611269e\"},\"downsized\":{\"height\":\"480\",\"width\":\"480\",\"size\":\"331164\",\"url\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/giphy.gif?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=giphy.gif&ct=s\"},\"downsized_large\":{\"height\":\"480\",\"width\":\"480\",\"size\":\"331164\",\"url\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/giphy.gif?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=giphy.gif&ct=s\"},\"downsized_medium\":{\"height\":\"480\",\"width\":\"480\",\"size\":\"331164\",\"url\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/giphy.gif?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=giphy.gif&ct=s\"},\"downsized_small\":{\"height\":\"480\",\"width\":\"480\",\"mp4_size\":\"194995\",\"mp4\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/giphy-downsized-small.mp4?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=giphy-downsized-small.mp4&ct=s\"},\"fixed_height_downsampled\":{\"height\":\"200\",\"width\":\"200\",\"size\":\"47587\",\"url\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/200_d.gif?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=200_d.gif&ct=s\",\"webp_size\":\"53376\",\"webp\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/200_d.webp?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=200_d.webp&ct=s\"},\"fixed_height_small\":{\"height\":\"100\",\"width\":\"100\",\"size\":\"35618\",\"url\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/100.gif?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=100.gif&ct=s\",\"mp4_size\":\"22014\",\"mp4\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/100.mp4?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=100.mp4&ct=s\",\"webp_size\":\"48378\",\"webp\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/100.webp?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=100.webp&ct=s\"},\"fixed_width_downsampled\":{\"height\":\"200\",\"width\":\"200\",\"size\":\"47587\",\"url\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/200w_d.gif?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=200w_d.gif&ct=s\",\"webp_size\":\"53376\",\"webp\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/200w_d.webp?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=200w_d.webp&ct=s\"},\"fixed_width_small\":{\"height\":\"100\",\"width\":\"100\",\"size\":\"35618\",\"url\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/100w.gif?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=100w.gif&ct=s\",\"mp4_size\":\"22014\",\"mp4\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/100w.mp4?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=100w.mp4&ct=s\",\"webp_size\":\"48378\",\"webp\":\"https://media2.giphy.com/media/emGOoSC4ACUo3WoMZu/100w.webp?cid=9fbc9b3fcq8twy4mikjtsuud862wzybdu4sncbxxgulkuxb8&rid=100w.webp&ct=s\"}},\"user\":{\"avatar_url\":\"https://media2.giphy.com/avatars/spongebob/U4nimQFVGMqR.jpg\",\"banner_image\":\"\",\"banner_url\":\"\",\"profile_url\":\"https://giphy.com/spongebob/\",\"username\":\"spongebob\",\"display_name\":\"SpongeBob
      SquarePants\",\"description\":\"Who gifs in a pineapple under the sea?\",\"instagram_url\":\"\",\"website_url\":\"http://www.spongebob.com\",\"is_verified\":true},\"analytics_response_payload\":\"e=Z2lmX2lkPWVtR09vU0M0QUNVbzNXb01adSZldmVudF90eXBlPUdJRl9TRUFSQ0gmY2lkPTlmYmM5YjNmY3E4dHd5NG1pa2p0c3V1ZDg2Mnd6eWJkdTRzbmNieHhndWxrdXhiOCZjdD1z\",\"analytics\":{\"onload\":{\"url\":\"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPWVtR09vU0M0QUNVbzNXb01adSZldmVudF90eXBlPUdJRl9TRUFSQ0gmY2lkPTlmYmM5YjNmY3E4dHd5NG1pa2p0c3V1ZDg2Mnd6eWJkdTRzbmNieHhndWxrdXhiOCZjdD1z&action_type=SEEN\"},\"onclick\":{\"url\":\"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPWVtR09vU0M0QUNVbzNXb01adSZldmVudF90eXBlPUdJRl9TRUFSQ0gmY2lkPTlmYmM5YjNmY3E4dHd5NG1pa2p0c3V1ZDg2Mnd6eWJkdTRzbmNieHhndWxrdXhiOCZjdD1z&action_type=CLICK\"},\"onsent\":{\"url\":\"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPWVtR09vU0M0QUNVbzNXb01adSZldmVudF90eXBlPUdJRl9TRUFSQ0gmY2lkPTlmYmM5YjNmY3E4dHd5NG1pa2p0c3V1ZDg2Mnd6eWJkdTRzbmNieHhndWxrdXhiOCZjdD1z&action_type=SENT\"}}},{\"type\":\"sticker\",\"id\":\"D8PcDtJpONo9OidcCH\",\"url\":\"https://giphy.com/stickers/spongebob-transparent-spongebob-squarepants-kamp-koral-D8PcDtJpONo9OidcCH\",\"slug\":\"spongebob-transparent-spongebob-squarepants-kamp-koral-D8PcDtJpONo[...]
