interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.giphy.com/v1/trending/searches
  response:
    content: '{"data":["oh yes","love is blind","trey lance","twilight zone","booker","john
      collins","wonderful wednesday","camel day","mid week","hello wednesday","camels","humid","happy
      humpday","waffles","hamilton","practice","good afternoon","top of the morning","hey
      yall","huddle"],"meta":{"msg":"OK","status":200,"response_id":"11fbbcd299ca866e2d4e6dac65b404aecd481e35"}}'
    headers:
      Content-Type:
      - application/json
      X-Cachiness-Edge-Actual-TTL:
      - '300.000'
      X-Cachiness-Edge-Age:
      - '0'
      X-Cachiness-Edge-Rule:
      - upstream_surrogate_control
      X-Cachiness-Edge-Surrogate-Control:
      - max-age=300
      X-Cachiness-Shield-Actual-TTL:
      - '300.000'
      X-Cachiness-Shield-Rule:
      - upstream_surrogate_control
      X-Cachiness-Shield-Surrogate-Control:
      - max-age=300
      X-Rule-Debug:
      - '1'
    status_code: 200
version: 1
