interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.giphy.com/v1/stickers/trending?bundle=low_bandwidth&limit=10&offset=100&random_id=12345&rating=g
  response:
    content: "{\"data\":[{\"type\":\"sticker\",\"id\":\"xT9IggfHyknam374Ig\",\"url\":\"https://giphy.com/stickers/xT9IggfHyknam374Ig\",\"slug\":\"xT9IggfHyknam374Ig\",\"bitly_gif_url\":\"http://gph.is/2xn886y\",\"bitly_url\":\"http://gph.is/2xn886y\",\"embed_url\":\"https://giphy.com/embed/xT9IggfHyknam374Ig\",\"username\":\"originals\",\"source\":\"\",\"title\":\"Crocodile
      Hello Sticker by Originals\",\"rating\":\"g\",\"content_url\":\"\",\"source_tld\":\"\",\"source_post_url\":\"\",\"is_sticker\":1,\"import_datetime\":\"2017-09-22
      22:28:24\",\"trending_datetime\":\"0000-00-00 00:00:00\",\"images\":{\"original\":{\"height\":\"457\",\"width\":\"480\",\"size\":\"215600\",\"url\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/giphy.gif?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=giphy.gif&ct=s\",\"mp4_size\":\"193768\",\"mp4\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/giphy.mp4?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=giphy.mp4&ct=s\",\"webp_size\":\"205286\",\"webp\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/giphy.webp?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=giphy.webp&ct=s\",\"frames\":\"18\",\"hash\":\"3101d9757804a222131a5eed683aa071\"},\"downsized\":{\"height\":\"457\",\"width\":\"480\",\"size\":\"215600\",\"url\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/giphy.gif?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=giphy.gif&ct=s\"},\"downsized_large\":{\"height\":\"457\",\"width\":\"480\",\"size\":\"215600\",\"url\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/giphy.gif?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=giphy.gif&ct=s\"},\"downsized_medium\":{\"height\":\"457\",\"width\":\"480\",\"size\":\"215600\",\"url\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/giphy.gif?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=giphy.gif&ct=s\"},\"downsized_small\":{\"height\":\"456\",\"width\":\"480\",\"mp4_size\":\"183943\",\"mp4\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/giphy-downsized-small.mp4?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=giphy-downsized-small.mp4&ct=s\"},\"fixed_height_downsampled\":{\"height\":\"200\",\"width\":\"210\",\"size\":\"26035\",\"url\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/200_d.gif?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=200_d.gif&ct=s\",\"webp_size\":\"29784\",\"webp\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/200_d.webp?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=200_d.webp&ct=s\"},\"fixed_height_small\":{\"height\":\"100\",\"width\":\"105\",\"size\":\"54324\",\"url\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/100.gif?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=100.gif&ct=s\",\"mp4_size\":\"23921\",\"mp4\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/100.mp4?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=100.mp4&ct=s\",\"webp_size\":\"39992\",\"webp\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/100.webp?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=100.webp&ct=s\"},\"fixed_width_downsampled\":{\"height\":\"190\",\"width\":\"200\",\"size\":\"25095\",\"url\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/200w_d.gif?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=200w_d.gif&ct=s\",\"webp_size\":\"29234\",\"webp\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/200w_d.webp?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=200w_d.webp&ct=s\"},\"fixed_width_small\":{\"height\":\"95\",\"width\":\"100\",\"size\":\"52907\",\"url\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/100w.gif?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=100w.gif&ct=s\",\"mp4_size\":\"21750\",\"mp4\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/100w.mp4?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=100w.mp4&ct=s\",\"webp_size\":\"37448\",\"webp\":\"https://media0.giphy.com/media/xT9IggfHyknam374Ig/100w.webp?cid=9fbc9b3f6ni55if7xexpvzol9gmwqlt1ach5c7r5oq2nochc&rid=100w.webp&ct=s\"}},\"user\":{\"avatar_url\":\"https://media1.giphy.com/channel_assets/originals/abFL0aLWuzrm.gif\",\"banner_image\":\"https://media1.giphy.com/channel_assets/originals/rf5TWGqR6jX4.gif\",\"banner_url\":\"https://media1.giphy.com/channel_assets/originals/rf5TWGqR6jX4.gif\",\"profile_url\":\"https://giphy.com/originals/\",\"username\":\"originals\",\"display_name\":\"Originals\",\"description\":\"All
      the GIFs made by GIPHY.\",\"instagram_url\":\"https://instagram.com/@GIPHY\",\"website_url\":\"http://www.giphy.com\",\"is_verified\":true},\"analytics_response_payload\":\"e=Z2lmX2lkPXhUOUlnZ2ZIeWtuYW0zNzRJZyZldmVudF90eXBlPUdJRl9UUkVORElORyZjaWQ9OWZiYzliM2Y2bmk1NWlmN3hleHB2em9sOWdtd3FsdDFhY2g1YzdyNW9xMm5vY2hjJmN0PXM\",\"analytics\":{\"onload\":{\"url\":\"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPXhUOUlnZ2ZIeWtuYW0zNzRJZyZldmVudF90eXBlPUdJRl9UUkVORElORyZjaWQ9OWZiYzliM2Y2bmk1NWlmN3hleHB2em9sOWdtd3FsdDFhY2g1YzdyNW9xMm5vY2hjJmN0PXM&action_type=SEEN\"},\"onclick\":{\"url\":\"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPXhUOUlnZ2ZIeWtuYW0zNzRJZyZldmVudF90eXBlPUdJRl9UUkVORElORyZjaWQ9OWZiYzliM2Y2bmk1NWlmN3hleHB2em9sOWdtd3FsdDFhY2g1YzdyNW9xMm5vY2hjJmN0PXM&action_type=CLICK\"},\"onsent\":{\"url\":\"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPXhUOUlnZ2ZIeWtuYW0zNzRJZyZldmVudF90eXBlPUdJRl9UUkVORElORyZjaWQ9OWZiYzliM2Y2bmk1NWlmN3hleHB2em9sOWdtd3FsdDFhY2g1YzdyNW9xMm5vY2hjJmN0PXM&action_type=SENT\"}}},{\"type\":\"sticker\",\"id\":\"7Q3S6ydnHUvJWsXeWV\",\"url\":\"https://giphy.com/stickers/Invest-In-Access-loveyou-iia-loveyounowandalways-7Q3S6ydnHUvJWsXeWV\",\"slug\":\"Invest-In-Access-loveyou-iia-loveyounowandalways-7Q3S6ydnHUvJWsXeWV\"[...]
