interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.giphy.com/v1/gifs/categories
  response:
    content: '{"data":[{"name":"actions","name_encoded":"actions","subcategories":[{"name":"dancing","name_encoded":"dancing"},{"name":"laughing","name_encoded":"laughing"},{"name":"running","name_encoded":"running"},{"name":"crying","name_encoded":"crying"},{"name":"eating","name_encoded":"eating"},{"name":"cooking","name_encoded":"cooking"},{"name":"drinking","name_encoded":"drinking"},{"name":"singing","name_encoded":"singing"},{"name":"smiling","name_encoded":"smiling"},{"name":"smoking","name_encoded":"smoking"},{"name":"spinning","name_encoded":"spinning"},{"name":"fighting","name_encoded":"fighting"},{"name":"swimming","name_encoded":"swimming"},{"name":"waiting","name_encoded":"waiting"},{"name":"falling","name_encoded":"falling"},{"name":"sleeping","name_encoded":"sleeping"},{"name":"flirting","name_encoded":"flirting"},{"name":"dreaming","name_encoded":"dreaming"},{"name":"finger
      guns","name_encoded":"finger-guns"},{"name":"pout","name_encoded":"pout"},{"name":"slapping","name_encoded":"slapping"},{"name":"fainting","name_encoded":"fainting"},{"name":"sneezing","name_encoded":"sneezing"},{"name":"breaking
      up","name_encoded":"breaking-up"},{"name":"tossing drink","name_encoded":"tossing-drink"}],"gif":{"type":"gif","id":"3o6wrvdHFbwBrUFenu","url":"https:\/\/giphy.com\/gifs\/filmeditor-disney-pixar-3o6wrvdHFbwBrUFenu","slug":"filmeditor-disney-pixar-3o6wrvdHFbwBrUFenu","bitly_gif_url":"http:\/\/gph.is\/2fhIua6","bitly_url":"http:\/\/gph.is\/2fhIua6","embed_url":"https:\/\/giphy.com\/embed\/3o6wrvdHFbwBrUFenu","username":"","source":"","title":"Monsters
      Inc Reaction GIF by filmeditor","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2016-11-04
      00:53:52","trending_datetime":"2019-01-31 03:15:01","create_datetime":"2016-11-04
      00:54:06","update_datetime":"2021-04-12 22:22:30","images":{"480w_still":{"height":"260","size":"8232","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/480w_s.jpg","width":"480"},"fixed_width_still":{"height":"108","size":"7532","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/200w_s.gif","width":"200"},"fixed_height_downsampled":{"height":"200","size":"123844","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/200_d.gif","webp":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/200_d.webp","webp_size":"58558","width":"369"},"preview_gif":{"height":"99","size":"46248","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/giphy-preview.gif","width":"183"},"preview":{"height":"168","mp4":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/giphy-preview.mp4","mp4_size":"32119","width":"310"},"fixed_height_small":{"height":"100","mp4":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/100.mp4","mp4_size":"30410","size":"83509","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/100.gif","webp":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/100.webp","webp_size":"32824","width":"185"},"downsized":{"height":"260","size":"540791","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/giphy.gif","width":"480"},"fixed_width_downsampled":{"height":"108","size":"50464","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/200w_d.gif","webp":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/200w_d.webp","webp_size":"23924","width":"200"},"fixed_width":{"height":"108","mp4":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/200w.mp4","mp4_size":"32719","size":"107377","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/200w.gif","webp":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/200w.webp","webp_size":"34926","width":"200"},"downsized_still":{"height":"260","size":"540791","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/giphy_s.gif","width":"480"},"downsized_medium":{"height":"260","size":"540791","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/giphy.gif","width":"480"},"original_mp4":{"height":"260","mp4":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/giphy.mp4","mp4_size":"118102","width":"480"},"downsized_large":{"height":"260","size":"540791","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/giphy.gif","width":"480"},"preview_webp":{"height":"170","size":"40780","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/giphy-preview.webp","width":"314"},"original":{"frames":"15","hash":"3030c92fbc912ad9722d61b51834ba1f","height":"260","mp4":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/giphy.mp4","mp4_size":"118102","size":"540791","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/giphy.gif","webp":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/giphy.webp","webp_size":"96110","width":"480"},"original_still":{"height":"260","size":"35728","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/giphy_s.gif","width":"480"},"fixed_height_small_still":{"height":"100","size":"6021","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/100_s.gif","width":"185"},"fixed_width_small":{"height":"54","mp4":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/100w.mp4","mp4_size":"13282","size":"33937","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/100w.gif","webp":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/100w.webp","webp_size":"15928","width":"100"},"looping":{"mp4":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/giphy-loop.mp4","mp4_size":"1625765"},"downsized_small":{"height":"260","mp4":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/giphy-downsized-small.mp4","mp4_size":"118102","width":"480"},"fixed_width_small_still":{"height":"54","size":"2938","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/100w_s.gif","width":"100"},"fixed_height_still":{"height":"200","size":"15927","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/200_s.gif","width":"369"},"fixed_height":{"height":"200","mp4":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/200.mp4","mp4_size":"82488","size":"239907","url":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/200.gif","webp":"https:\/\/media2.giphy.com\/media\/3o6wrvdHFbwBrUFenu\/200.webp","webp_size":"71782","width":"369"}}}},{"name":"adjectives","name_encoded":"adjectives","subcategories":[{"name":"hot","name_encoded":"hot"},{"name":"funny","name_encoded":"funny"},{"name":"cute","name_encoded":"cute"},{"name":"sexy","[...]
