interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.giphy.com/v1/stickers/random?random_id=12345&rating=g&tag=basketball
  response:
    content: '{"data":{"type":"sticker","id":"GfWIjInt6dYqPuKXkc","url":"https:\/\/giphy.com\/stickers\/transparent-360sports-aguacalientecasinos-GfWIjInt6dYqPuKXkc","slug":"transparent-360sports-aguacalientecasinos-GfWIjInt6dYqPuKXkc","bitly_gif_url":"https:\/\/gph.is\/st\/mgqvwzM","bitly_url":"https:\/\/gph.is\/st\/mgqvwzM","embed_url":"https:\/\/giphy.com\/embed\/GfWIjInt6dYqPuKXkc","username":"aguacalientecasinos","source":"","title":"Palm
      Springs Football Sticker by Agua Caliente Casinos","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":1,"import_datetime":"2021-01-05
      19:44:55","trending_datetime":"0000-00-00 00:00:00","images":{"fixed_width_still":{"height":"240","size":"2340","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/200w_s.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=200w_s.gif&ct=s","width":"200"},"preview_gif":{"height":"480","size":"12640","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/giphy-preview.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=giphy-preview.gif&ct=s","width":"400"},"fixed_height_downsampled":{"height":"200","size":"5168","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/200_d.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=200_d.gif&ct=s","webp":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/200_d.webp?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=200_d.webp&ct=s","webp_size":"4866","width":"167"},"preview":{"height":"480","mp4":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/giphy-preview.mp4?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=giphy-preview.mp4&ct=s","mp4_size":"18710","width":"400"},"fixed_height_small":{"height":"100","mp4":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/100.mp4?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=100.mp4&ct=s","mp4_size":"4141","size":"2740","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/100.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=100.gif&ct=s","webp":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/100.webp?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=100.webp&ct=s","webp_size":"11252","width":"84"},"downsized":{"height":"480","size":"11961","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/giphy.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=giphy.gif&ct=s","width":"400"},"fixed_width_downsampled":{"height":"240","size":"6143","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/200w_d.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=200w_d.gif&ct=s","webp":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/200w_d.webp?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=200w_d.webp&ct=s","webp_size":"5736","width":"200"},"fixed_width":{"height":"240","mp4":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/200w.mp4?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=200w.mp4&ct=s","mp4_size":"9239","size":"6143","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/200w.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=200w.gif&ct=s","webp":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/200w.webp?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=200w.webp&ct=s","webp_size":"27558","width":"200"},"downsized_still":{"height":"480","size":"11961","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/giphy_s.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=giphy_s.gif&ct=s","width":"400"},"downsized_medium":{"height":"480","size":"11961","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/giphy.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=giphy.gif&ct=s","width":"400"},"original_mp4":{"height":"576","mp4":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/giphy.mp4?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=giphy.mp4&ct=s","mp4_size":"22945","width":"480"},"downsized_large":{"height":"480","size":"11961","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/giphy.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=giphy.gif&ct=s","width":"400"},"preview_webp":{"height":"480","size":"10916","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/giphy-preview.webp?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=giphy-preview.webp&ct=s","width":"400"},"original":{"frames":"3","hash":"9aa91766ac059b715c6e5e98d360a984","height":"480","mp4":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/giphy.mp4?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=giphy.mp4&ct=s","mp4_size":"22945","size":"11961","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/giphy.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=giphy.gif&ct=s","webp":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/giphy.webp?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=giphy.webp&ct=s","webp_size":"10916","width":"400"},"original_still":{"height":"480","size":"4765","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/giphy_s.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=giphy_s.gif&ct=s","width":"400"},"fixed_height_small_still":{"height":"100","size":"1095","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/100_s.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=100_s.gif&ct=s","width":"84"},"fixed_width_small":{"height":"120","mp4":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/100w.mp4?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=100w.mp4&ct=s","mp4_size":"4833","size":"3066","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/100w.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=100w.gif&ct=s","webp":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/100w.webp?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=100w.webp&ct=s","webp_size":"13152","width":"100"},"looping":{"mp4":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/giphy-loop.mp4?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=giphy-loop.mp4&ct=s","mp4_size":"444204"},"downsized_small":{"height":"480","mp4":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/giphy-downsized-small.mp4?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=giphy-downsized-small.mp4&ct=s","mp4_size":"18710","width":"400"},"fixed_width_small_still":{"height":"120","size":"1290","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/100w_s.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=100w_s.gif&ct=s","width":"100"},"fixed_height_still":{"height":"200","size":"1979","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/200_s.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=200_s.gif&ct=s","width":"167"},"fixed_height":{"height":"200","mp4":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/200.mp4?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=200.mp4&ct=s","mp4_size":"7913","size":"5168","url":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/200.gif?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=200.gif&ct=s","webp":"https:\/\/media3.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/200.webp?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=200.webp&ct=s","webp_size":"24148","width":"167"},"480w_still":{"url":"https:\/\/media1.giphy.com\/media\/GfWIjInt6dYqPuKXkc\/480w_s.jpg?cid=9fbc9b3f47b7039a5edb804990331257cec778b593b96f4e&rid=480w_s.jpg&ct=s","width":"480","height":"576"}},"user":{"avatar_url":"https:\/\/media2.giphy.com\/avatars\/aguacalientecasinos\/FTZDDXpvrMUW.png","banner_image":"","banner_url":"","profile_url":"https:\/\/giphy.com\/aguacalientecasinos\/","username":"aguacalientecasinos","display_name":"Agua
      Caliente Casinos","description":"Agua Caliente Casinos - Experience Extraordinary!\r\n\r\nAwarding-wining
      luxury casino in the Coachella Valley.","is_verified":false,"website_url":"http:\/\/www.aguacalientecasinos.com\/","instagram_url":"https:\/\/instagram.com\/AguaCalienteCasinos"}},"meta":{"msg":"OK","status":200,"response_id":"47b7039a5edb804990331257cec778b593b96f4e"}}'
    headers:
      Content-Type:
      - application/json
      X-Cachiness-Edge-Actual-TTL:
      - '120.000'
      X-Cachiness-Edge-Rule:
      - giphy_api_vcl_fetch_stale_if_error_val_set
      X-Cachiness-Shield-Actual-TTL:
      - '120.000'
      X-Cachiness-Shield-Rule:
      - giphy_api_vcl_fetch_stale_if_error_val_set
      X-Rule-Debug:
      - '1'
    status_code: 200
version: 1
