interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.giphy.com/v1/gifs/translate?random_id=12345&s=baseball&weirdness=5
  response:
    content: '{"data":{"type":"gif","id":"z1c1SGEsPa1aM","url":"https://giphy.com/gifs/sexy-girl-baseball-z1c1SGEsPa1aM","slug":"sexy-girl-baseball-z1c1SGEsPa1aM","bitly_gif_url":"http://gph.is/1URyq0K","bitly_url":"http://gph.is/1URyq0K","embed_url":"https://giphy.com/embed/z1c1SGEsPa1aM","username":"","source":"http://wifflegif.com","title":"sexy
      baseball GIF","rating":"g","content_url":"","source_tld":"wifflegif.com","source_post_url":"http://wifflegif.com","is_sticker":0,"import_datetime":"2016-06-14
      16:41:34","trending_datetime":"1970-01-01 00:00:00","images":{"original":{"height":"257","width":"360","size":"1956091","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/giphy.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=giphy.gif&ct=g","mp4_size":"1357273","mp4":"https://media2.giphy.com/media/z1c1SGEsPa1aM/giphy.mp4?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=giphy.mp4&ct=g","webp_size":"1252676","webp":"https://media2.giphy.com/media/z1c1SGEsPa1aM/giphy.webp?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=giphy.webp&ct=g","frames":"42","hash":"799417a14292d978f15417339fc52d59"},"downsized":{"height":"257","width":"360","size":"1956091","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/giphy.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=giphy.gif&ct=g"},"downsized_large":{"height":"257","width":"360","size":"1956091","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/giphy.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=giphy.gif&ct=g"},"downsized_medium":{"height":"257","width":"360","size":"1956091","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/giphy.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=giphy.gif&ct=g"},"downsized_small":{"height":"118","width":"165","mp4_size":"85153","mp4":"https://media2.giphy.com/media/z1c1SGEsPa1aM/giphy-downsized-small.mp4?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=giphy-downsized-small.mp4&ct=g"},"downsized_still":{"height":"257","width":"360","size":"1956091","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/giphy_s.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=giphy_s.gif&ct=g"},"fixed_height":{"height":"200","width":"280","size":"1203744","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/200.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=200.gif&ct=g","mp4_size":"424525","mp4":"https://media2.giphy.com/media/z1c1SGEsPa1aM/200.mp4?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=200.mp4&ct=g","webp_size":"760488","webp":"https://media2.giphy.com/media/z1c1SGEsPa1aM/200.webp?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=200.webp&ct=g"},"fixed_height_downsampled":{"height":"200","width":"280","size":"187436","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/200_d.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=200_d.gif&ct=g","webp_size":"118518","webp":"https://media2.giphy.com/media/z1c1SGEsPa1aM/200_d.webp?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=200_d.webp&ct=g"},"fixed_height_small":{"height":"100","width":"140","size":"537432","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/100.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=100.gif&ct=g","mp4_size":"111401","mp4":"https://media2.giphy.com/media/z1c1SGEsPa1aM/100.mp4?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=100.mp4&ct=g","webp_size":"227890","webp":"https://media2.giphy.com/media/z1c1SGEsPa1aM/100.webp?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=100.webp&ct=g"},"fixed_height_small_still":{"height":"100","width":"140","size":"10627","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/100_s.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=100_s.gif&ct=g"},"fixed_height_still":{"height":"200","width":"280","size":"29195","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/200_s.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=200_s.gif&ct=g"},"fixed_width":{"height":"143","width":"200","size":"631901","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/200w.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=200w.gif&ct=g","mp4_size":"220243","mp4":"https://media2.giphy.com/media/z1c1SGEsPa1aM/200w.mp4?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=200w.mp4&ct=g","webp_size":"416776","webp":"https://media2.giphy.com/media/z1c1SGEsPa1aM/200w.webp?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=200w.webp&ct=g"},"fixed_width_downsampled":{"height":"143","width":"200","size":"131341","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/200w_d.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=200w_d.gif&ct=g","webp_size":"63958","webp":"https://media2.giphy.com/media/z1c1SGEsPa1aM/200w_d.webp?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=200w_d.webp&ct=g"},"fixed_width_small":{"height":"72","width":"100","size":"191633","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/100w.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=100w.gif&ct=g","mp4_size":"48539","mp4":"https://media2.giphy.com/media/z1c1SGEsPa1aM/100w.mp4?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=100w.mp4&ct=g","webp_size":"130378","webp":"https://media2.giphy.com/media/z1c1SGEsPa1aM/100w.webp?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=100w.webp&ct=g"},"fixed_width_small_still":{"height":"72","width":"100","size":"5293","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/100w_s.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=100w_s.gif&ct=g"},"fixed_width_still":{"height":"143","width":"200","size":"15544","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/200w_s.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=200w_s.gif&ct=g"},"looping":{"mp4_size":"4191537","mp4":"https://media2.giphy.com/media/z1c1SGEsPa1aM/giphy-loop.mp4?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=giphy-loop.mp4&ct=g"},"original_still":{"height":"257","width":"360","size":"50258","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/giphy_s.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=giphy_s.gif&ct=g"},"original_mp4":{"height":"342","width":"480","mp4_size":"1357273","mp4":"https://media2.giphy.com/media/z1c1SGEsPa1aM/giphy.mp4?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=giphy.mp4&ct=g"},"preview":{"height":"122","width":"171","mp4_size":"44219","mp4":"https://media2.giphy.com/media/z1c1SGEsPa1aM/giphy-preview.mp4?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=giphy-preview.mp4&ct=g"},"preview_gif":{"height":"61","width":"85","size":"48336","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/giphy-preview.gif?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=giphy-preview.gif&ct=g"},"preview_webp":{"height":"74","width":"104","size":"32636","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/giphy-preview.webp?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=giphy-preview.webp&ct=g"},"480w_still":{"height":"343","width":"480","size":"1956091","url":"https://media2.giphy.com/media/z1c1SGEsPa1aM/480w_s.jpg?cid=9fbc9b3fahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d&rid=480w_s.jpg&ct=g"}}},"meta":{"status":200,"msg":"OK","response_id":"ahp2q91835zp3lnb4nshlauss4tt5q7b69djmg3d"}}'
    headers:
      Content-Type:
      - application/json
      X-Cachiness-Edge-Actual-TTL:
      - '0.000'
      X-Cachiness-Edge-Cache-Control:
      - max-age=0
      X-Cachiness-Edge-Rule:
      - upstream_cache_control
      X-Cachiness-Shield-Actual-TTL:
      - '120.000'
      X-Cachiness-Shield-Cache-Control:
      - max-age=0
      X-Cachiness-Shield-Rule:
      - giphy_misc
      X-Rule-Debug:
      - '1'
      x-response-time:
      - 19ms
    status_code: 200
version: 1
