interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.giphy.com/v1/channels/search?limit=10&offset=10&q=basketball
  response:
    content: '{"data":[{"id":9285626,"display_name":"Be\u015fikta\u015f","parent":null,"slug":"besiktasbasketball","type":"community","content_type":"gif","short_display_name":"","description":"","has_children":true,"featured_gif":{"type":"gif","id":"eNGS1nwHJwlvVQguFO","url":"https:\/\/giphy.com\/gifs\/besiktasbasketball-bjk-beikta-beiktaicrypex-eNGS1nwHJwlvVQguFO","slug":"besiktasbasketball-bjk-beikta-beiktaicrypex-eNGS1nwHJwlvVQguFO","bitly_gif_url":"https:\/\/gph.is\/g\/4VDbeXR","bitly_url":"https:\/\/gph.is\/g\/4VDbeXR","embed_url":"https:\/\/giphy.com\/embed\/eNGS1nwHJwlvVQguFO","username":"besiktasbasketball","source":"","title":"Basketball
      Nba GIF by Be\u015fikta\u015f","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2021-01-26
      12:27:52","trending_datetime":"0000-00-00 00:00:00","images":{"hd":{"height":"720","mp4":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy-hd.mp4?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy-hd.mp4&ct=g","mp4_size":"10841263","width":"1280"},"fixed_width_still":{"height":"113","size":"14683","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/200w_s.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=200w_s.gif&ct=g","width":"200"},"fixed_height_downsampled":{"height":"200","size":"197781","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/200_d.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=200_d.gif&ct=g","webp":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/200_d.webp?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=200_d.webp&ct=g","webp_size":"124672","width":"356"},"preview_gif":{"height":"52","size":"48978","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy-preview.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy-preview.gif&ct=g","width":"92"},"preview":{"height":"146","mp4":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy-preview.mp4?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy-preview.mp4&ct=g","mp4_size":"42678","width":"259"},"fixed_height_small":{"height":"100","mp4":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/100.mp4?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=100.mp4&ct=g","mp4_size":"752335","size":"2021282","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/100.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=100.gif&ct=g","webp":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/100.webp?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=100.webp&ct=g","webp_size":"1236308","width":"178"},"downsized":{"height":"200","size":"1638190","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy-downsized.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy-downsized.gif&ct=g","width":"357"},"fixed_width_downsampled":{"height":"113","size":"83737","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/200w_d.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=200w_d.gif&ct=g","webp":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/200w_d.webp?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=200w_d.webp&ct=g","webp_size":"51728","width":"200"},"fixed_width":{"height":"113","mp4":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/200w.mp4?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=200w.mp4&ct=g","mp4_size":"816084","size":"2589152","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/200w.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=200w.gif&ct=g","webp":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/200w.webp?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=200w.webp&ct=g","webp_size":"1417584","width":"200"},"downsized_still":{"height":"200","size":"25507","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy-downsized_s.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy-downsized_s.gif&ct=g","width":"357"},"downsized_medium":{"height":"270","size":"3973365","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy-downsized-medium.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy-downsized-medium.gif&ct=g","width":"480"},"original_mp4":{"height":"270","mp4":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy.mp4?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy.mp4&ct=g","mp4_size":"2584444","width":"480"},"downsized_large":{"height":"270","size":"4737847","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy-downsized-large.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy-downsized-large.gif&ct=g","width":"480"},"preview_webp":{"height":"86","size":"49650","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy-preview.webp?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy-preview.webp&ct=g","width":"152"},"original":{"frames":"190","hash":"a20a9d61f277da552f5a7d18551f43b6","height":"270","mp4":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy.mp4?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy.mp4&ct=g","mp4_size":"2584444","size":"12988167","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy.gif&ct=g","webp":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy.webp?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy.webp&ct=g","webp_size":"4102738","width":"480"},"original_still":{"height":"270","size":"64439","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy_s.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy_s.gif&ct=g","width":"480"},"fixed_height_small_still":{"height":"100","size":"11455","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/100_s.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=100_s.gif&ct=g","width":"178"},"fixed_width_small":{"height":"57","mp4":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/100w.mp4?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=100w.mp4&ct=g","mp4_size":"44030","size":"739552","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/100w.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=100w.gif&ct=g","webp":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/100w.webp?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=100w.webp&ct=g","webp_size":"542168","width":"100"},"looping":{"mp4":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy-loop.mp4?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy-loop.mp4&ct=g","mp4_size":"2744446"},"downsized_small":{"height":"84","mp4":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/giphy-downsized-small.mp4?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=giphy-downsized-small.mp4&ct=g","mp4_size":"184478","width":"149"},"fixed_width_small_still":{"height":"57","size":"4542","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/100w_s.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=100w_s.gif&ct=g","width":"100"},"fixed_height_still":{"height":"200","size":"29491","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/200_s.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=200_s.gif&ct=g","width":"356"},"fixed_height":{"height":"200","mp4":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/200.mp4?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=200.mp4&ct=g","mp4_size":"1769842","size":"6014403","url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/200.gif?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=200.gif&ct=g","webp":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/200.webp?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=200.webp&ct=g","webp_size":"3020064","width":"356"},"480w_still":{"url":"https:\/\/media3.giphy.com\/media\/eNGS1nwHJwlvVQguFO\/480w_s.jpg?cid=9fbc9b3f424936634fa94d560c1d8481fb44f7fcfd39eff7&rid=480w_s.jpg&ct=g","width":"480","height":"270"}},"user":{"avatar_url":"https:\/\/media2.giphy.com\/avatars\/besiktasbasketball\/oZhayKdZOY8Q.png","banner_image":"","banner_url":"","profile_url":"https:\/\/giphy.com\/besiktasbasketball\/","username":"besiktasbasketball","display_name":"Be\u015fikta\u015f","description":"Be\u015fikta\u015f
      Basketball Teams","is_verified":true,"website_url":"http:\/\/bjk.com.tr","instagram_url":"https:\/\/instagram.com\/@bjk_basketbol"}},"banner_image":null,"user":{"avatar_url":"https:\/\/media2.giphy.com\/avatars\/besiktasbasketball\/oZhayKdZOY8Q.png","banner_image":"","banner_url":"","profile_url":"https:\/\/giphy.com\/besiktasbasketball\/","username":"besiktasbasketball","display_name":"Be\u015fikta\u015f","description":"Be\u015fikta\u015f
      Basketball Teams","is_verified":true,"website_url":"http:\/\/bjk.com.tr","instagram_url":"https:\/\/instagram.com\/@bjk_basketbol"},"ancestors":[],"tags":[],"analytics_response_payload":"e=ZXZlbnRfdHlwZT1DSEFOTkVMX1NFQVJDSCZjaWQ9OWZiYzliM2Y0MjQ5MzY2MzRmYTk0ZDU2MGMxZDg0ODFmYjQ0ZjdmY2ZkMzllZmY3JnE9YmFza2V0YmFsbCZjaGFubmVsX2lkPTkyODU2MjYmY2hhbm5lbF9zbHVnPWJlc2lrdGFzYmFza2V0YmFsbCZjaGFubmVsX2Rpc3BsYXlfbmFtZT1CZSVDNSU5RmlrdGElQzUlOUYmY2hhbm5lbF91c2VybmFtZT1iZXNpa3Rhc2Jhc2tldGJhbGw"},{"id":34601225,"display_name":"Santa
      Cruz Warriors","parent":null,"slug":"SantaCruzWarriors","type":"community","content_type":"gif","short_display_name":"","description":"","has_children":true,"fe[...]
